@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Roboto:wght@100&display=swap');

:root {
  --background: #CFE8EF;
  --background-secondery: #C6DBF0;
  --background-sidebar: #b0d0f0;
  --border: #AED1E6;
  --border-darker: #93c5e4;
  --border-hightlight: #6ddb7f;
  --text-color: #292f30;
  --text-color-light: #8f999b;
}